button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.nomodal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.modalContainer {
    width: 90%;
    max-width: 450px;
    margin:0 auto;
    margin-bottom: 2rem;
    border-radius: .3rem;
    background-color: #fff;
    animation: modal-show .3s;
    overflow: hidden;
}

.modalTop {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #ffda8e;
    font-weight: 700;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}

.modalMiddle {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.modalBttom {
    padding: 12px 16px;
    text-align: right;
}

.sendImage {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}