.homeContainer {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
}

.roomName {
    padding: 24px 12px;
    border: none;
    border-bottom: 1px solid #8b8687;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #534847;
}

.roomName:focus {
    outline: none;
}

.enrtyRoom {
    margin-top: 20px;
    padding: 24px 12px;
    background: #ffda8e;
    color: #9B8281;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
}