body{
  height: 100%;
}

.profileimg{
  width:70px;
  height: 70px;
  border-radius: 70%;
  overflow: hidden;
}
.user-profileimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.profileimgyo{
  width:200px;
  height: 200px;
  border-radius: 30%;
  overflow: hidden;
}

.backimg{
  background-image: url('../src/images/background.jpg');
  width: auto;
  height:500px;
}



/* first.js css start */


.img{
  object-fit: fill;
  
}

/* first.js css End*/
