body{
  height: 100%;
}

.profileimg{
  width:70px;
  height: 70px;
  border-radius: 70%;
  overflow: hidden;
}
.user-profileimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.profileimgyo{
  width:200px;
  height: 200px;
  border-radius: 30%;
  overflow: hidden;
}

.backimg{
  background-image: url('../src/images/background.jpg');
  width: auto;
  height:500px;
}

/* first page Start*/
.first-body{
  
    height:100%;
    text-align: center;
  
}
.first-img{
  margin: auto;
  text-align: center;
  
}
.first-form{
  text-align: center;
  background-color: #DCE5E2;
  padding-bottom: 25px;
  position: absolute;
  width: 50%;
  bottom: 25%;
  left:25%;
  text-decoration-line: none;

}
#first-form2{
  box-sizing: border-box;
  margin: auto;
  padding: 70px;
  
}
.first-login{
  margin: auto;
  text-align: center;
  padding: 4px;
  font-size: 18px;
  text-decoration: none;
  color: #ECCED0;
  text-decoration-line: none;
  border: 1px solid #ECCED0;
  border-radius: 5px;
  background-color: #B6B7B2;
}
.first-login:hover{
  text-decoration: none;
}
.first-register-info{
  text-align: center;
  margin: auto;
  display: block;

}
.first-register-button{
  text-align: center;
  margin: auto;
  display: block;
  
}
.first-register-button:hover{
  text-decoration: none;
}
/* first page End*/

/* Login page Start */
.Login-body{
  height: 100%;
  text-align: center;
  margin: auto;
}
.Login-img{
  margin: auto;
  width: 100%;
  background-color: #F9F9F9;
}
.Login-thum{
  width: 375px;
}
.Login-info{
  text-align: center;
  background-color: #DCE5E2;
  padding-bottom: 25px;
  position: absolute;
  width: 50%;
  bottom: 25%;
  left:25%;
}
.Login-form{
  margin: auto;
  margin-top: 40px;
  vertical-align: middle;
  width: 100%;
}
.Login-input{
  text-align: left;
  margin: 4px;
}
/* Login page End */

/* media query Start*/
/* @media (min-width: 320px){
  .first-form{
    display: block;
    text-align: center;
    background-color: #DCE5E2;
    padding-bottom: 25px;
    width: 320px;
    
    bottom: 0;
    left:0;
  }
} */
/* media query End*/